@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../node_modules/@mdi/font/css/materialdesignicons.min.css";

@import 'general';
@import 'ui/slider';
@import 'ui/color.links';
@import 'ui/buttons';
@import 'ui/forms';

// @import "lp/index.scss";

// @import "lp/slider";

.color-link{
    @apply relative block w-6 sm:w-8 lg:w-10 h-6 sm:h-8 lg:h-10 rounded-full shadow-sm shadow-[#eee];
    &[data-color="gray"]{
       @apply bg-gray-400;
    }
    &[data-color="white"]{
        @apply bg-gray-200; 
    }
    &[data-color="black"]{
        @apply bg-black; 
    }
    &[data-color="red"]{
        @apply bg-red; 
    }
    &[data-color="blue"]{
        @apply bg-[#1C61D0]; 
    }
    &[data-color="bronze"]{
        @apply bg-[#480808]; 
    }
    &.active::after{
        border: 2px solid #aaa;
        border-radius: 50%;
        bottom: -7px;
        content: "";
        left: -7px;
        position: absolute;
        right: -7px;
        top: -7px;
    }
}

.btn{
    @apply px-8 sm:px-14 border border-red py-3 bg-red text-white text-center font-medium transition-all duration-300 hover:opacity-80;
    &.btn-o{
        @apply bg-transparent text-red hover:opacity-100 hover:bg-red hover:text-white;
    }
    &.gray{
        @apply bg-gray-400 border-gray-400;
        &.btn-o{
            @apply bg-transparent text-gray-400 hover:opacity-100 hover:bg-gray-400 hover:text-white;
        }
    }
    &.black{
        @apply bg-black border-black;
        &.btn-o{
            @apply bg-transparent text-black hover:opacity-100 hover:bg-black hover:text-white;
        }
    }
    &.white{
        @apply bg-white text-black border-white;
        &.btn-o{
            @apply bg-transparent text-white hover:opacity-100 hover:bg-white hover:text-black;
        }
    }
}